body {
    width: 20em;
    height: 45em;
    margin-top: 5em;
    margin-left: 40em;
    font-size: 16px;
    /*box-sizing: content-box;*/
    border: 0.2em #ccc solid;
    border-radius: 0.6em;
    text-align: center;
}

.card-image {
    margin-top: 4em;
}

.card-title {
    margin-bottom: 2em;
}

.card-content {
    text-align: center;
    margin-bottom: 7em;
}
.card-content-item{
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.9em;
    padding-left: 4em;
}

/*.card-content-item::before {*/
   /* content: "\2714";*/
   /* color: green;*/
   /* font-size: 1em;*/
   /* margin-bottom: 0.1em;*/
   /* padding-right: 1em;*/
   /*margin-left: 0.5em;*/
}

.card-price {
    margin-bottom: 2em;
}

button {
    margin-top: 2em;
    width: 13em;
    height: 3em;
    border-radius: 5em;
    border-width: 0.2em;
    border-color: #F53838;
}



